:root {
    --grey: #5A5858;
    --header-bg: #B54C4A;
    --item-color: #081F33;
    --item-descr: #5A5858;
    --bg: #F9F7F7;
    --btn: #055DA7;
    --item-btn: #1976D2;
    --item-title: #081F33;
    --grau: #5A5858;
    --l-blau: #EBEEF2;
    --red: #E55A5A;
}
// $fonts: 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap';





