.header__nav-desktop {
    display: flex;
    justify-content: space-between;
}
.nav-desktop {
    font-size: 20px;
}
.phone-email {
    display: flex;
    gap: 40px;
}
.header{
    gap: 17px;
   &__nav {
       flex-wrap: no-wrap;
       gap: 40px;
   }

   &__search {
       flex-basis: 30%;
       display: flex;
       align-items: center;
       position: relative;
   }
}
   .input {
       width: 100%;
       &placeholder {
           line-height: 150%;
           letter-spacing: 0.15px;
       }
   }

