
.item {
    width: calc(25% - 11px);
    &__btn {
            grid-column: span 2/4;
        }
    &__pages {
        font-size: 20px;
        display: flex;
        gap: 30px;
    }
}
.nav {
    justify-content: space-between;
    overflow-x: hidden;
    &__img{
        width: 100px;
        height: 100px;
    }
}
.main-area {
    padding: 2rem 0;
}