.adv {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 0 5px;
}

.adv__title {
    margin-bottom: 30px;
    grid-area: title;
    color: #081F33;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.adv__photo {
    grid-area: photo;
    width: 100%;
    img {
        width: 100%;
    }
}

.adv__subtitle {
    grid-area: subtitle;
    color: #6292BA;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    margin: 15px 0;
}

.adv__text {
    grid-area: text;
    color:  #5A5858;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}
    .mybuttons__item{
        padding-top: 30px;
    }
    .mybuttons__item_prev{
        position: absolute;
        bottom: 0;
        left: 80px;
        content: "";
        width: 24px;
        height: 24px;
    }
    .mybuttons__item_next{
        position: absolute;
        bottom: 0;
        right: 80px;
        content: "";
        width: 24px;
        height: 24px;
    }
