.aside {
    display: flex;
    flex-direction: column;
    background-image: url("/img/aside_bg.svg");
    background-size: cover;
    background-position: 0% 50%;
    font-weight: 900;
    font-size: 24px;
    color: white;
    text-align: center;
    &__text{
        font-size: 40px;
        padding-top: 65px;
        padding-bottom: 16px;
    }
    &__btn {
        width: 60%;
        padding-bottom: 70px;
        align-self: center;
    }
    &__slider{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 36px;
    }
}
.sale{
    font-weight: 900;
    font-size: 24px;
    color: white;
    background-color: var(--header-bg);
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
}
.btn{
    opacity: 0.8;
    font-size: 24px;
    padding: 15px;
    color: white;
    border-radius: 4px;
    border: 1px solid var(--weis, #FEFEFE);
    background: rgba(254, 254, 254, 0.12);
}
.btn:hover{
    opacity: 1;
}
