.footer{
    padding-top: 30px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    &__grid {
        display: grid;
        gap: 20px;
        grid-template-areas:
        'logo '
        'categ'
        'flags'
        'social'; 
    }
    &__logo{
        grid-area: logo;
    }
    &__internation{
        grid-area: flags;
        align-self: center;
    }
    &__social {
        grid-area: social;
        display: flex;
        gap: 16px;
        margin: 0 auto;
        height: 25px;
    }
    &__email {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    .email__text {
        color: var(--grey);
        font-size: 14px;
        &:hover {
            color: #055DA7;
            font-weight: bold;
        }
    }
    .phone__text {
        color: var(--grey);
        font-size: 14px;
        &:hover {
            color: #055DA7;
            font-weight: bold;
        }
    }
    &__phone {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    &__email-phone{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding-bottom: 60px;
        padding-top: 40px;
    }
}
.categ{
    &__item ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        li{
            font-size: 14px;
            font-weight: 500;
            line-height: 160%;
            letter-spacing: 0.03px
        }
    }
    &__item{
        grid-area: categ;
    }
    &__title{
        font-size: 20px;
        font-weight: 600;
        line-height: 160%;
        letter-spacing: 0.03px;
        text-transform: uppercase;
        grid-column: span 2;
        margin-left: 40px;
    }  
}
li{
    list-style: none;
    padding: 0;
    margin: 0;  
}
.internation__flags {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px ;
}
.categ__var:hover{
    color: #055DA7;
}


    
