
.gallery {
    padding: 80px 0;
    &__photo1 {
            position: relative;
        }
    
        &__text {
            position: absolute;
            bottom: 7px;
            left: 17px;
            color:  #FEFEFE;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 16px;
            font-weight: 600;
        }
    
        &__photo2 {
            position: relative;
        }
    
        &__photo3 {
            position: relative;
        }
    
        &__photo4 {
            position: relative;
        }
        &__grid {
            display: grid;
            grid-template-areas: "grid1"
                "grid2";
}
&__grid1 {
    grid-area: grid1;
}
&__grid2 {
    grid-area: grid2;
}
&__photos {
    display: grid;
    grid-template-areas: "grid3 grid4 "
        "grid3 grid5";
}
&__photo1 {
    width: 100%;
    grid-area: grid1;

    img {
        width: 100%;
    }
}
&__photo2 {
    width: 100%;
    grid-area: grid3;
    position: relative;

    img {
        width: 96%;
    }
}
&__photo3 {
    width: 100%;
    grid-area: grid4;

    img {
        width: 100%;
    }
}
&__photo4 {
    width: 100%;
    grid-area: grid5;

    img {
        width: 98%;
    }
}
}











