// .items{
//     margin-top: 25px;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 15px;
// }
.img-item{
    width: 100%;
    transition: all .3s ease-in-out;
}
.img-item:hover{
    transform: scale(1.1);
}

.title-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    color: var(--item-color);
}
.sort {
    display: flex;
    flex-direction: row;
    gap: 8px;
    &__title{
        font-size: 16px;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 0.024px;
        color: var(--item-color);
    }
}
.filter {
    display: flex;
    flex-direction: row;
    gap: 8px;
    &__title {
        font-size: 16px;
        font-weight: 500;
        line-height: 160%;
        color: var(--item-color);
    }
    &__img{
        align-self: center;
    }
}
hr{
    background: #FEFEFE;
}
.item {
    margin: 5px;
    width: calc(50% - 11px);
    background: white;
    &__name{
        color: var(--item-color);
        font-size: 14px;
        font-weight: 600;      
    }
    &__description {
        font-size: 12px;
        font-weight: 400;
        color: var(--item-descr);
    }
    &__price-cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__price {
        font-size: 16px;
        font-weight: 400;
        line-height: 200%;
        letter-spacing: 0.024px;
        color: var(--item-color);
    }
    &__btn {
       background: var(--btn); 
       grid-column: span 2;
       text-align: center;
       margin-top: 60px;
       margin-bottom: 40px;
       box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.20);
    }
    &__pages{
        display: flex;
        gap: 30px;
        justify-content: center;
    }
}
.item-btn{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    padding: 15px;
}
.nav{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    cursor: pointer;
}
.main-area {
    padding: 1rem 0;
    width: 100%;
    flex: 1;
}
.items-isopote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.2s;
    margin: 0 auto;
    max-width: 80rem;
}
.item-i{
    overflow: hidden;
}
.img-item {
    height: 100px;
}
.nav__img img{
    width: 100%;
    border-radius: 100%;
}
.nav__img {
    background: white;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.nav__img_center {
    position: relative;
    img {
        position: absolute;
        top:10px;
    }
}
.nav__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkselect {
    position: relative;
    display: inline-block;
    min-width: 200px;
    text-align: left;
}

.checkselect-control {
    position: relative;
    padding: 0 !important;
}

.checkselect-control select {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding-left: 5px;
    height: 30px;
}

.checkselect-over {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.checkselect-popup {
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-height: 200px;
    position: absolute;
    top: 100%;
    left: 0px;
    border: 1px solid #dadada;
    border-top: none;
    background: #fff;
    z-index: 9999;
    overflow: auto;
    user-select: none;
}

.checkselect label {
    position: relative;
    display: block;
    margin: 0;
    padding: 4px 6px 4px 25px;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.1;
    cursor: pointer;
}

.checkselect-popup input {
    position: absolute;
    top: 5px;
    left: 8px;
    margin: 0 !important;
    padding: 0;
}

.checkselect-popup label:hover {
    background: #03a2ff;
    color: #fff;
}

.checkselect-popup fieldset {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.checkselect-popup fieldset input {
    left: 15px;
}

.checkselect-popup fieldset label {
    padding-left: 32px;
}

.checkselect-popup legend {
    display: block;
    margin: 0;
    padding: 5px 8px;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.1;
}
// .items-isopote{
//     height: auto !important;
// }